@font-face {
  font-family: 'Smooth Circulars';
  font-style: normal;
  src: local('Smooth Circulars'), url(../../assets/smoothCIrculars.otf) format('opentype');
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.appBarHorizontal {
  height: 50px;
  margin-left: 50px;
  /*background-color: azure;*/
}

.innerAppBarArrangment {
  display: flex;
  height: 100%;
  align-items: center;
}

.appBarVertical {
  width: 50px;
  overflow: hidden;
  overflow-y: auto;
  background: rgb(194, 196, 205);
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.childrenContent {
  margin-left: 50px;
  background-color: #EEEFF4;
  flex: 1 1 auto;
  overflow: auto;
}

.uptodownFont {
  font-family: 'Smooth Circulars', sans-serif;
  font-size: 20px;
}

.fontSpecialColor {
  @extend .uptodownFont;
  color: rgb(120, 189, 246);
}

.headerNamePosition {
  margin-left: 12px;
}

.searchInput {
  margin-left: 63px;
  margin-top: -10px;
}


.uptoLogo {
  width: 50px;
  height: 50px;
}

.profile {
  width: 30px;
  margin-right: 13px;
}

.test {
  color: blue;
}

.navItem {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navItem:hover {
  background: #9AA1B2;
}